.App {
    padding: 20px;
    font-family: sans-serif;
}

.grid {
    display: grid;
    /* 14 个设备，7 列，2 行 */
    grid-template-columns: repeat(7, 1fr);
    row-gap: 10px;
    column-gap: 10px;
}

.led-container {
    display: flex;
    align-items: center;
}

.led {
    width: 16px;
    height: 16px;
    border-radius: 50%;
    margin-right: 8px;
}

.normal {
    background-color: green;
}

.alarm {
    background-color: red;
}

.label {
    font-size: 14px;
}